.course-thumbnail {
    $course_thumbnail_width: 80px;
    display: block;
    width: $course_thumbnail_width;
    img {
        max-width: $course_thumbnail_width;
    }
}

.lesson-thumbnail {
    $lesson_thumbnail_width: 80px;
    display: block;
    width: $lesson_thumbnail_width;
    img {
        max-width: $lesson_thumbnail_width;
    }
}

a {
    cursor: pointer;
}